@layer base {
    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply w-full border-slate-300;
        @apply focus:ring-sky-500;
    }

    [type='checkbox'] {
        @apply border-slate-300 text-sky-500;
        @apply focus:border-sky-500 focus:ring-sky-500;
    }

    [type='radio'] {
        @apply border-slate-300 text-sky-500;
        @apply focus:border-sky-500 focus:ring-sky-500;
    }
}