@use "sass:color";
@use "@stuartaccent/tailwind-starter/scss/themes/colors" as *;

/* theme light */
:root {
  /* document colors */
  --background-color: #{rgb($white)};

  /* text colours */
  --color: #{rgb($gray-700)};

  /* muted colors */
  --muted-color: #{rgb($zinc-500)};
  --muted-border-color: #{mix(rgb($slate-100), rgb($slate-50))};

  /* primary colors */
  --primary: #{rgb($sky-500)};
  --primary-hover: #{rgb($sky-600)};
  --primary-inverse: #{rgb($white)};

  /* secondary colors */
  --secondary: #{rgb($slate-500)};
  --secondary-hover: #{rgb($slate-600)};
  --secondary-inverse: #{rgb($white)};

  /* highlighted text (<mark>) */
  --mark-background-color: #{rgb($amber-100)};
  --mark-color: #{rgb($amber-900)};

  /* inserted (<ins>) & deleted (<ins>) */
  --ins-color: #{rgb($green-700)};
  --del-color: #{rgb($red-800)};

  /* blockquote colors */
  --blockquote-border-color: var(--muted-border-color);
  --blockquote-footer-color: var(--muted-color);

  /* form elements */
  --form-element-background-color: #{mix(rgb($slate-50), rgb($white), 25%)};
  --form-element-border-color: #{mix(rgb($slate-200), rgb($slate-100))};
  --form-element-color: #{rgb($zinc-800)};
  --form-element-placeholder-color: var(--muted-color);
  --form-element-focus-border-color: var(--primary);
  --form-element-disabled-background-color: var(
    --form-element-background-color
  );
  --form-element-disabled-border-color: var(--form-element-border-color);
  --form-element-disabled-opacity: theme("backgroundOpacity.50");

  /* switch */
  --switch-background-color: #{rgb($slate-200)};
  --switch-color: var(--primary-inverse);
  --switch-checked-background-color: var(--primary);

  /* table */
  --table-border-color: var(--muted-border-color);
  --table-row-stripped-background-color: #{rgba(rgb($zinc-500), 0.0375)};

  /* accordion */
  --accordion-border-color: var(--muted-border-color);

  /* dialog */
  --dialog-overlay-background-color: #{rgba(rgb($gray-50), 0.7)};
  --dialog-background-color: var(--background-color);
  --dialog-border-color: var(--muted-border-color);
  --dialog-sectionning-background-color: #{mix(rgb($slate-50), rgb($white), 25%)};

  /* icons */
  --icon-chevron: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{rgb($zinc-400)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-chevron-button: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{rgb($white)}' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-checkbox: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{rgb($white)}' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='20 6 9 17 4 12'%3E%3C/polyline%3E%3C/svg%3E");
  --icon-minus: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='#{rgb($white)}' stroke-width='4' stroke-linecap='round' stroke-linejoin='round'%3E%3Cline x1='5' y1='12' x2='19' y2='12'%3E%3C/line%3E%3C/svg%3E");
}
