/* styles */
:root {
  /* typography */
  --font-family: theme("fontFamily.sans");
  --font-weight: theme("fontWeight.normal");
  --font-size: theme("fontSize.base");
  --line-height: theme("lineHeight.normal");

  /* borders */
  --border-radius: theme("borderRadius.DEFAULT");
  --border-width: theme("borderWidth.DEFAULT");

  /* spacings */
  --spacing: theme("spacing.4");

  /* spacings for typography elements */
  --typography-spacing-vertical: theme("spacing.6");

  /* spacings for form elements and button */
  --form-element-spacing-vertical: theme("spacing.3");
  --form-element-spacing-horizontal: theme("spacing.4");

  /* font weight for form labels & fieldsets legend */
  --form-label-font-weight: var(--font-weight);

  /* dialog */
  --dialog-overlay-backdrop-filter: blur(8px);
}

a {
  --text-decoration: none;
  cursor: pointer;
}

small {
  --font-size: 0.875em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  --font-weight: theme("fontWeight.bold");
}

h1 {
  --font-size: theme("fontSize.4xl");
}

h2 {
  --font-size: theme("fontSize.3xl");
}

h3 {
  --font-size: theme("fontSize.2xl");
}

h4 {
  --font-size: theme("fontSize.xl");
}

h5 {
  --font-size: theme("fontSize.lg");
}

h6 {
  --font-size: theme("fontSize.base");
}
